.ck-editor__editable {
    min-height: 500px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
margin: 0 auto;
object-fit: contain;
height: 100%;
width: auto;
}