.ck-editor__editable {
    min-height: 500px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
margin: 0 auto;
object-fit: contain;
height: 100%;
width: auto;
}

.pac-container {
  z-index: 1100 !important;
}

.searchbox {
  position: absolute;
  top: 0%;
  left: 50%;

  border-radius: 100%;
  /* transform: translate(-50%, -50%); */
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.marker:hover {
  z-index: 1;
}

.table th, .table td {
  padding: 1rem;
  vertical-align: middle;
  border-top: 1px solid #e9ecef;
}